* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: white;
    background-color: #212121;
  }
nav{
    background-color: rgb(253, 214, 164);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    gap: 0.5rem;
}
nav a{
    text-decoration: none;
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border: solid 1px rgb(22, 22, 22);
    border-radius: 0.2rem;
    text-align: center;
    color: #1b1b1b;
}

main{
    padding: 1rem;

}

h1{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}

.projects{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}

.project-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 214, 164);
    padding: 10px 30px;
    text-decoration: none;
    margin-top: 5px;
    border: 2px solid #212121;
    border-radius: 8px;
    color: #1b1b1b;
    width: 40rem;
}
@media (max-width:800px)
{
    .project-link{
        width: 90%;
    }
}